{% extends 'blog/blog_base.html' %} 
{% block content %}
<!-- Formulario automatizado do Django nao funcionou, partir pro manual !-->
<!-- Verificar necessidade de ter se fazer cadastro e envio de e-mail ou somente enviar e-mail !-->
<!-- 
<form action="" method="post">
    {% csrf_token %} 
	{{ form.nome }} 
	{{ form.email }}
    <input type="submit" value="Submit" />
</form> !-->

<form method="post" action="">{% csrf_token %}
              <div class="row col-md-12 control-label form">

                <div class="col-md-2 formCad form-group">
                  <input id="name" name="nome" type="text" placeholder="Seu nome:" class="form-control input-md" required="">
                </div>
                <div class="col-md-3 formCad form-group">
                  <input id="email" name="email" type="text" placeholder="Seu e-mail:(se possivel, e-mail corporativo)" class="form-control input-md" required="">
                </div>
				<div class="col-md-3 formCad form-group">
                  <input id="mensagem" name="mensagem" type="text" placeholder="Escreva aqui sua mensagem" class="form-control input-md" required="" maxlength="255">
                </div>
                
                <div class="col-md-2 formCad form-group">
                  <button id="buttonCadastro" name="buttonCadastro" class="btn btn-cad">Enviar</button>
                </div>
              </div>
 </form>
 
{% endblock %}
	