{% load static %}
<!DOCTYPE html>
<html lang="en">
<body style="background-image: url('{% static 'img/landingimg.png' %}')>
	<div main">
	<link rel="stylesheet" href="{% static 'css/landing2.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<form class="" method="post" action="#">{% csrf_token %}
	<div class="container">


		<div class="col-lg-offset-4 col-lg-4" id="panel">
			<h2>Get In Touch</h2>

			<form>

				<div class="group">
					<input id="name" name="nome" type="text" placeholder="Seu nome completo:" class="form-control input-md" required="">
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Nome</label>
				</div>

				<div class="group">
					<input id="email" name="email" type="text" placeholder="Seu e-mail:(se possivel, e-mail corporativo)" class="form-control input-md" required="">
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Email</label>
				</div>

				<div class="group">
					<center> <button type="submit" class="btn btn-warning">Baixar <span class="glyphicon glyphicon-send"></span></button></center>
				</div>
			</form>

		</div>
	</div>
	</form>
	</div>
</body>
</html>
