{% extends 'blog/blog_base.html' %}
{% block content %}
  <!--Conteudo -->
  <div class="container">
    <div class="row post-preview col-md-12 post">
	<div class="postdetalhe"><img src="{{ post.image }}" alt=""></div>
	<div class="postextras"> 
	<a href="{{ post.get_absolute_url }}"><img src="{% static 'img/icon-facebook-share.png' %}"></img></a>
	<a href="{{ post.get_absolute_url }}"><img src="{% static 'img/icon-google-share.png' %}"></img></a>
	<a href="{{ post.get_absolute_url }}"><img src="{% static 'img/icon-linkedin-share.png' %}"></img></a>
	<a href="{{ post.get_absolute_url }}"><img src="{% static 'img/icon-twitter-share.png' %}"></img></a>
	</div>
		<div class="postdetalhe">
		<div class="post-title"><h3>{{post.titulo}}</h3></div>
			
			<div class="post-desc">
				{{ post.texto|safe }}
			</div>
			  
		</div>	
    <hr>
	</div>
  </div>
{% endblock %}
