{% extends 'blog/blog_base.html' %} {% block content %}
<!--Conteudo -->
<div class="container">

  {% for post in posts %}
  <div class="row post-preview col-md-12 post">
    <div class="col-md-4 col-sm-6 post">
      <a href="http://canaldorh.com/post/{{ post.slug }}">
        <div style="background:  url({{post.image}}) no-repeat;
        height: 300px; background-size: cover;"></div>
      </a>
    </div>
    <div class="col-md-6">

      <div class="post">

        <h3 class="post-title">{{ post.titulo }}</h3>
        <span class="post-desc">{{ post.resumo }} </span>


		
      </div>



      <div style="position: relative;top: -12%;" slug={{ post.slug }}>
        <a href="http://canaldorh.com/post/{{ post.slug }}">
          <button id="buttonLeia" name="buttonLeia" class="btn btn-leia">Leia mais +</button>
         </a>
      </div>
    </div>
    <div class="anuncios col-md-2">

    </div>
  </div>
  <hr> {% endfor %} {% endblock %}